:host {
    display: block;
}

.app-footer {
    border-top: 1px solid #d7e0ee;
    background: rgba(255, 255, 255, 0.62);
    padding: 0.8rem 1rem;

    p {
        margin: 0;
        text-align: center;
        color: #40506c;
        font-size: 0.9rem;
    }
}